body{
    background-color: grey;
 
}



.btn-light{
    border-radius: 10px;
}

footer{
    font-size: medium;
}

nav{
    font-size: large;
}

.card {
    background: rgba(204, 204, 204, 0.6);
}

#carouselExampleIndicators{
    height: 200px;
}

img{
    margin: auto;
    height: 200px;
}

