body{
    background-color: grey;
}



.btn-light{
    border-radius: 10px;
}

footer{
    font-size: medium;
}

nav{
    font-size: large;
    text-align: center;
    color: white;
}

.card {
    background: rgba(204, 204, 204, 0.6);
}

#carouselExampleIndicators{
    height: 200px;
}

img{
    margin: auto;
    height: 200px;
}

.imgText{
    position: absolute;
    left: 50%;
    bottom: 50%;
    color: white;
    font-size: 3em;
    transform: translate(-50%, -50%);
}

